<?xml version="1.0"?>
<configuration>
 <runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   <dependentAssembly>
    <assemblyIdentity name="assemblyversion" publicKeyToken="使用命令 sn -T AssemblyVersionDemo.dll 打印" />
    <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
    <codeBase version="2.0.0.0" href="v2/assemblyversion.dll" />
   </dependentAssembly>
  </assemblyBinding>
 </runtime>
</configuration>