<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="sampleSection"
                 type="System.Configuration.SingleTagSectionHandler" />
        
        <section name="demoSection" 
                 type="DemoSection, ConfigurationDemo" />

        <sectionGroup name="CSharpMagic">
            <section name="utilitySection"
                  type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>

    <sampleSection ApplicationTitle=".NET框架配置文件示例程序"/>

    <demoSection stringValue="DemoSection的文本配置" boolValue="true"
        timeSpanValue="6:00:00"/>

   <CSharpMagic>
      <utilitySection>
         <add key="ApplicationTitle"
              value="CSharpMagic配置节组里的文本配置" />
         <add key="ConnectionString"
              value="Server=localhost;Database=Northwind;
                     Integrated Security=false;User Id=sa;
                     Password=;" />
      </utilitySection>
   </CSharpMagic>

    <appSettings>
        <add key="Demo" value="Demo的值" />
    </appSettings>

    <connectionStrings>  
      <add name="DemoDb" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=DemoDb;Integrated Security=True;Pooling=False" />  
    </connectionStrings>  
</configuration>
