<configuration>  
  <system.diagnostics>  
    <!-- <trace autoflush="false" indentsize="8" /> -->
    <trace autoflush="true" indentsize="3">
      <listeners>  
        <add name="txt" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />  
        <add name="console" type="System.Diagnostics.ConsoleTraceListener">
           <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
        </add>   
        <!--<add name="eventListener" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceListenerLog"/>  -->
        <remove name="Default" />  
      </listeners>  
    </trace>      
  </system.diagnostics>  
</configuration>  