<configuration>  
  <system.diagnostics> 
    <trace autoflush="true" indentsize="0" />  
    <sources>
      <source name="MainTrace" switchName="SourceSwitch"   
              switchType="System.Diagnostics.SourceSwitch" >  
        <listeners>  
          <add name="console" />
          <add name="txtListener1" type="System.Diagnostics.TextWriterTraceListener" initializeData="MainTrace.log" />  
          <remove name ="Default" />  
        </listeners>  
      </source>  
      <source name="TestMethodTrace" switchName="SourceSwitch"   
              switchType="System.Diagnostics.SourceSwitch" >  
        <listeners>  
          <add name="console" />
          <add name="txtListener2" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestMethodTrace.log" />  
          <remove name ="Default" />  
        </listeners>  
      </source> 
    </sources>
    <switches>  
      <add name="SourceSwitch" value="Information" />  
    </switches>
    <sharedListeners>  
      <add name="console"   
        type="System.Diagnostics.ConsoleTraceListener" initializeData="false">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
      </add>  
    </sharedListeners>      
  </system.diagnostics>  
</configuration>  