<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="nlogdemo.log" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <!--
        下面这一行因为名字不对，所以无法将日志输出
        <logger name="NLogDemo.Program1" minlevel="Info" writeTo="logconsole" />
        下面这一行名字匹配，可以输出日志
        <logger name="NLogDemo.Program" minlevel="Info" writeTo="logconsole" />
        -->
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>